<input type="hidden" name="vt-annuaire-nonce" id="vt-annuaire-nonce" value="{{ nonce }}" />

<h5><label>Nom du contact</label></h5>
<p><input id="vt_annuaire_contact" name="vt_annuaire_contact" value="{{ post.contact }}"/></p>

<h5><label>Adresse</label></h5>
<p><input id="vt_annuaire_address" name="vt_annuaire_address" value="{{ post.address }}"/></p>

<h5><label>Téléphone</label></h5>
<p><input id="vt_annuaire_phone" name="vt_annuaire_phone" value="{{ post.phone }}"/></p>

<h5><label>Courriel</label></h5>
<p><input id="vt_annuaire_mail" name="vt_annuaire_mail" value="{{ post.mail }}"/></p>